@{
    ViewData["Title"] = "About Us";
}


<h1>About Us</h1>
    <p class="lead">We are a construction services provider based in the Greater Toronto area</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>